
<div class="container">
    <h1 class="center title">Trusted by Agencies<br>& Store Owners</h1>
</div>
<div class="main">
    <div class="sm-card">
        <img src="assets/images/testimonials_3.png" class="photo-1" alt="WooCommerce people">
        <img src="assets/images/testimonials_2.png" class="photo-2" alt="WooCommerce people">
        <img src="assets/images/testimonials_1.png" class="photo-3" alt="WooCommerce people">
        <img src="assets/images/Group_7.png" class="points-1 rotate" alt="points">
        <img src="assets/images/testim.png" class="card-1" alt="trusted">
        <img src="assets/images/Group_6.png" class="points-2" alt="points">
        <img src="assets/images/testimonials_5.png" class="photo-4" alt="WooCommerce people">
        <img src="assets/images/testimonials_6.png" class="photo-5" alt="WooCommerce people">
        <img src="assets/images/testimonials_4.png" class="photo-6" alt="WooCommerce people">
    </div>
</div>