@import '../../styles-variables.scss';

.card-1{
    position: absolute;
    left: 29%;
    height: auto;
    width: 750px;
    float: left;
    margin-top: 20px;
    z-index: 4;
}

.center{
  text-align: center;
}

.main{
    background-image: url("src/assets/images/bg_gradient.png");
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.photo-1{
    position: relative;
    left: 4%;
    top: 200px;
    height: auto;
    width: auto;
    float: left;
}

.photo-2{
    position: relative;
    left: 10%;
    top: 350px;
    height: auto;
    width: auto;
    float: left;
}

.photo-3{
    position: relative;
    left: 0px;
    top: 0px;
    height: auto;
    width: auto;
    float: left;
}

.photo-4{
    position: relative;
    left: 10%;
    top: 0px;
    height: auto;
    width: auto;
    float: left;
}

.photo-5{
    position: relative;
    left: 100px;
    top: 400px;
    height: auto;
    width: auto;
    float: left;
}

.photo-6{
    position: relative;
    left: 10%;
    top: 170px;
    height: auto;
    width: auto;
    float: left;
}

.points-1{
    position: relative;
    left: 13%;
    top: 100px;
    height: auto;
    width: auto;
    float: left;
}

.points-2{
    position: relative;
    left: 20%;
    top: 100px;
    height: auto;
    width: auto;
    float: left;
}

.rotate{
    transform: rotate(90deg);
}


.title{
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: $lt-blue;
}

@media (max-width: 500px) {  
    .card-1{
        margin-top: 100px;
    }

    .main{
        height: 300px;
    }

    .points-1, .points-2{
        display: none;
    }
} 

@media (max-width: 700px) {   
    .card-1{
        height: 300px;
        width: auto;
    } 
}

@media (max-width: 996px) {    
    .sm-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .photo-2, .photo-4{
        display: none !important;
    }

    .card-1, .points-1{
        left: inherit;
        top: inherit;
    }
}

@media (max-width: 1450px) {
    .photo-1, .photo-3, .photo-5, .photo-6{
        display: none !important;
    }

    .photo-4{
        left: 25%;
    }

    .points-2 {
        left: 35%;
        top: 0px;
    }
}

@media (min-width: 2000px) {
    .card-1 {
        position: absolute;
        left: 35%;
        height: auto;
        width: 30%;
        float: left;
        margin-top: 20px;
        z-index: 4;
    }

    .points-2 {
        position: relative;
        left: 50%;
        top: 0px;
        height: auto;
        width: auto;
        float: left;
    }

    .photo-4, .photo-5, .photo-6{
        left: 30%;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .card-1{
        left: 25%;
        height: auto;
        width: 50%;
    }

    .photo-6{
        left: 0%;
    }
}
