<div class="mt-4 mb-4 hero">
  <div class="d-none d-lg-block">
    <img src="assets/images/featured-image.png" class="featured" alt="WooCommerce">
  </div>
  <div class="row mt-4 mb-4 content-margin">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 left-margin text-front">
        <h1 class="title mt-30">Building exactly the eCommerce website you want.</h1>
        <h6 class="subtitle mt-30">WooCommerce is a customizable, open-source eCommerce platform built on WordPress. Get started quickly and make your way.</h6>
        <p class="mt-30 subtitle disp-flex"><button class="btn button-pry" type="submit">Start a New Store</button>
        &nbsp;or&nbsp;<a class="link" href="#">Customize & Extend&nbsp;›</a></p>
      </div>
  </div>
</div>