<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img class="image-back" src="assets/images/LOGO.png" alt="WooCommerce"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Sell</a>
        <a class="nav-item nav-link" href="#">Marketplace</a>
        <a class="nav-item nav-link" href="#">Community</a>
        <a class="nav-item nav-link" href="#">Analyze</a>
        <a class="nav-item nav-link" href="#">Downloads</a>
      </div>
      <div class="d-block d-lg-none navbar-nav">
        <a class="nav-item nav-link" href="#">Log In</a>
        <a class="nav-item nav-link purple" href="#">Get Started</a>
        <a class="nav-item nav-link" href="#">Search<i class="fa fa-search bt-space-sm purple" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <div class="navbar-right">
        <a class="nav-item nav-link bt-space" href="#">Log In</a>
        <button class="btn button-pry bt-space" type="submit">Get Started</button>
        <i class="fa fa-search bt-space" aria-hidden="true"> </i>
    </div>
  </div>
  </nav>
</div>