<div class="main">
    <div>
        <img src="assets/images/Ellipse_35.png" class="ellipse" alt="ellipse">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 disp-flex">
                <h1 class="center">WooCommerce - the <b>most customizable eCommerce platform</b> for building <b>your online business.</b></h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 disp-flex">
                <button class="btn button-pry" type="submit">GET STARTED</button>
            </div>
        </div>
    </div>
</div>