<div class="main">
  <div class="container">
    <h1 class="center title">Your eCommerce<br>made simple</h1>
</div>
<div class="content-margins">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="card-1">
            <img src="assets/images/section-6.png" class="card-1-img-1" alt="applePay">
            <img src="assets/images/section-1.png" class="card-1-img-2" alt="onlinePay">
            <img src="assets/images/section-7.png" class="card-1-img-3" alt="smartPhones">
            <div class="part-2">
                  <h1 class="title mt-30">All You Need to Start</h1>
                  <h6 class="subtitle mt-30">Add WooCommerce plugin to any WordPress site and set up a new store in minutes.</h6>
                  <p class="mt-30 subtitle"><a class="link" href="#">Ecommerce for Wordpress ›</a></p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="card-1 mt-70">
            <div class="card-1">
                <img src="assets/images/section-2.png" class="card-2-img-1" alt="square">
                <img src="assets/images/section-4.png" class="card-2-img-2" alt="facebook">
            </div>
            <img src="assets/images/section-13.png" class="card-2-img-3" alt="googleAds">
            <img src="assets/images/section-5.png" class="card-2-img-4" alt="jetpack">
            <img src="assets/images/section-3.png" class="card-2-img-5" alt="monkey">
            <img src="assets/images/section-8.png" class="card-2-img-6" alt="smartPhone">
            <div class="part-2">
                  <h1 class="title mt-30">Ecommerce for Wordpress ›</h1>
                  <h6 class="subtitle mt-30">From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable.</h6>
                  <p class="mt-30 subtitle"><a class="link" href="#">Browse Extensions ›</a></p>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
        <div class="card-1 mt-200">
            <img src="assets/images/section-11.png" class="card-3-img-1" alt="WooCommerce computer">
            <img src="assets/images/section-9.png" class="card-3-img-2" alt="WooCommerce searching">
            <img src="assets/images/section-12.png" class="card-3-img-3" alt="WooCommerce people">
            <img src="assets/images/section-10.png" class="card-3-img-4" alt="WooCommerce laugh">
            <div class="part-3">
                  <h1 class="title mt-30">Active Community</h1>
                  <h6 class="subtitle mt-30">WooCommerce is one of the fastest-growing eCommerce communities.</h6>
                  <p class="mt-30 subtitle"><a class="link" href="#">Check our Forums ›</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>