<div class="main d-none d-lg-block">
    <div class="row self-position">
        <img src="assets/images/Ellipse_32.png" class="small-circle-2" alt="ellipse">
        <!-- <div class="card-1"> -->
            <img src="assets/images/Ellipse_34.png" class="circle-2" alt="ellipse">
            <img src="assets/images/Group_7.png" class="points-1" alt="points">
        <!-- </div> -->
        <img src="assets/images/Rectangle_236.png" alt="woman" class="woman" height="300px">
        <div class="card-1">
            <h1 class="title mt-30">Develop Without Limits</h1>
            <h6 class="subtitle mt-30">WooCommerce is developer friendly, too. Built with a REST API, WooCommerce is scalable and can integrate with virtually any service. Design a complex store from scratch, extend a store for a client, or simply add a single product to a WordPress site—your store, your way.</h6>
            <button class="btn button-sry" type="submit">Read the  Documentation</button>
        </div>
        <img src="assets/images/Union.png" class="woo d-none d-xl-block" alt="woo">
    </div>
    <div class="row self-position">
            <div class="card-2">
            <h1 class="title mt-30">Know our Global Community</h1>
            <h6 class="subtitle mt-30">WooCommerce is one of the fastest-growing eCommerce communities. We’re proud that the helpfulness of the community and a wealth of online resources are frequently cited as reasons our users love it. There are 80+ meetups worldwide!</h6>
            <button class="btn button-sry" type="submit">Read the  Documentation</button>
        </div>
        <img src="assets/images/Rectangle233.png" alt="people" class="people" height="300px">
        <img src="assets/images/Ellipse_32.png" class="small-circle-1" alt="ellipse">
        <div class="card-1">
            <img src="assets/images/Ellipse_31.png" class="circle-1" alt="ellipse">
            <img src="assets/images/Group_7.png" class="points-2 rotate" alt="points">
        </div>
    </div>
</div>
<div class="main d-block d-lg-none">
    <div class="container">
        <div class="row">
            <img src="assets/images/Ellipse_32.png" class="small-circle-2" alt="ellipse">
            <img src="assets/images/Ellipse_34.png" class="circle-2" alt="ellipse">
            <img src="assets/images/Group_7.png" class="points-1" alt="points">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 disp-flex">
                <img src="assets/images/Rectangle_236.png" class="sm-image" alt="woman" height="300px">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 disp-flex">
                <h1 class="title mt-30">Develop Without Limits</h1>
                <h6 class="subtitle mt-30">WooCommerce is developer friendly, too. Built with a REST API, WooCommerce is scalable and can integrate with virtually any service. Design a complex store from scratch, extend a store for a client, or simply add a single product to a WordPress site—your store, your way.</h6>
                <button class="btn button-sry" type="submit">Read the  Documentation</button>
            </div>
            <img src="assets/images/Ellipse_32.png" class="small-circle-2" alt="ellipse">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 disp-flex mt-30">
                <img src="assets/images/Ellipse_31.png" class="circle-3" alt="ellipse">
                <img src="assets/images/Group_7.png" class="points-1 mt-0 rotate" alt="points">
                <img src="assets/images/Rectangle233.png" class="sm-image" alt="people" height="300px">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 disp-flex">
                <h1 class="title mt-30">Know our Global Community</h1>
            <h6 class="subtitle mt-30">WooCommerce is one of the fastest-growing eCommerce communities. We’re proud that the helpfulness of the community and a wealth of online resources are frequently cited as reasons our users love it. There are 80+ meetups worldwide!</h6>
            <button class="btn button-sry" type="submit">Read the  Documentation</button>
            </div>
        </div>
    </div>
</div>