<div class="no-overflow">    
    <div class="main">
        <div class="container">
            <h1 class="center title mt-30">Supported by real people</h1>
            <h6 class="subtitle mt-30 center">Our team of Happiness Engineers works remotely from 68 countries providing<br>customers support across multiple time zones.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img src="assets/images/Ellipse_36.png" class="deco-1" alt="ellipse1">
            <img src="assets/images/Ellipse_32_1.png" class="deco-2" alt="ellipse2">
            <img src="assets/images/Group_13.png" class="points-1" alt="points1">
            <img src="assets/images/Ellipse_34_1.png" class="deco-3" alt="ellipse3">
            <img src="assets/images/Group_6.png" class="points-2" alt="points2">
        </div>
    </div>
    <img src="assets/images/people.png" class="people" alt="people">
</div>
